.about-page{
    height: 100vh;
}
.about-left img {
    width: 300px;
    margin-left: 100px;
}
.about-right{
    margin-top: 150px;
    color: rgb(72, 75, 69);
}
.about-right p {
    font-size: 18px;
}
.nme:hover{
    font-size: 45px;
    color: dimgrey;
    transition-duration: 3s;
}

@media only screen and (max-width: 576px) {
    .about-left img{
        width: 200px;
        margin-left: 60px;
    }
}